aws_region   = "us-east-1"
project_name = "jwt-validator"
environment  = "dev"
owner        = "backend-challenge"

cloudwatch_log_retention_days = 7
ecr_images_to_keep            = 5

vpc_cidr            = "10.0.0.0/16"
public_subnet_cidrs = ["10.0.1.0/24", "10.0.2.0/24"]
container_port      = 8080
container_name      = "jwt-validator"
image_tag           = "latest"
task_cpu            = 256
task_memory         = 512
desired_count       = 1
